.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-style: hidden !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root, .css-1u0wxdp-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .css-1u0wxdp-MuiFormLabel-root-MuiInputLabel-root {
  z-index: 2;
  background: white !important;
  padding: 0 5px !important;
}

.css-1eyh24h-MuiGrid-root, .css-gslkrp-MuiGrid-root{
  margin-left: 0 !important;
}

.css-mmvelj-MuiButtonBase-root-MuiButton-root{
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}
.css-1jvwwtw-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 17.5px 20px !important;
}
.MuiFormControlLabel-label.Mui-disabled,.Mui-disabled{
  color: $theme-green !important;
}