.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-style: hidden !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  z-index: 2;
  background: white !important;
  padding: 0 20px !important;
}