// body {
//     font-family: arial;
//     font-size: 13px;
//     color: black;
//     line-height: 1.75;
//     letter-spacing: .2px;
//     margin: 0px;
// }
body{
    margin: 0px;
}
.inputLink{
    color: #363636 !important;
    text-decoration: none;
}