body {
    font-family: arial;
    font-size: 13px;
    color: black;
    line-height: 1.75;
    letter-spacing: .2px;
    margin: 0px;
}

  
  // .font-light{
  //   font-family: $font-family-light;
  //   line-height: 28px;
  // }
  
  // .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  //   font-family: $font-family-regular;
  //   font-weight: 400;
  // }
  
  // h1, .h1 {
  //   font-size: 25px;
  //   color: $black-primary;
  // }
  
  // h2, .h2 {
  //   font-size: 25px;
  //   color: $blue-primary;
  // }
  
  // h3, .h3 {
  //   font-size: 22px;
  //   color: $black-primary;
  // }
  
  // h4, .h4 {
  //   font-size: 14px;
  // }
  
  // h5, .h5 {
  //   font-size: 13px;
  // }
  
  // h6, .h6 {
  //   font-size: 13px;
  // }
  
  // a {
  //   color: $font-color;
  // }
  
  // a:hover{
  //   color: $font-color;
  //   text-decoration: none;
  // }
  
  // p {
  //   font-family: $font-family-light;
  //   line-height: 23px;
  //   margin-bottom: .5rem;
  // }
  
  // ul {
  //   padding-left: 15px;
  // }
  
  // dd, dt {
  //   line-height: 2;
  // }
  
  // .mb-30{
  //   margin-bottom: 30px !important;
  // }
  
  // img {
  //   transition: all .3s ease-in-out;
  // }
  // footer p {
  //   margin-bottom: .25rem;
  // }
  
  // footer {
  //   font-size: 11px;
  // }
  
  // blockquote {
  //   font-size: inherit;
  //   border-color: lighten($theme-primary, 85%);
  // }
  